<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MineSweeper</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <script defer src="js/constants.js"></script>
    <script defer src="js/dispatcher.js"></script>
    <script defer src="js/timer.js"></script>
    <script defer src="js/controls.js"></script>
    <script defer src="js/fieldModel.js"></script>
    <script defer src="js/gameModel.js"></script>
    <script defer src="js/results.js"></script>
    <script defer src="js/modal.js"></script>
    <script defer src="js/game.js"></script>
    <script defer src="js/app.js"></script>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="game-wrapper" data-component="game">
            <div class="controls-wrapper" data-component="controls">
                <!-- Controls will be rendered here -->
            </div>
            <div class="field-wrapper"  data-component="field">
                <!-- Game field will be rendered here -->
            </div>
            <!-- Modal will be rendered here -->
        </div>
    </div>
    <!-- Templates -->
    <script type="'text/template" id="controls-template">
        <div class="controls-col">
            <form name="options-form">
                <label for="rows" class="controls-element">
                    <span class="control-name">Rows (<%- options.minRows %>-<%- options.maxRows %>)</span>
                    <input type="number" name="rows" id="rows" class="control-input" value="<%- options.rows %>" min="<%- options.minRows %>" max="<%- options.maxRows %>">
                </label>
                <label for="columns" class="controls-element">
                    <span class="control-name">Columns (<%- options.minCols %>-<%- options.maxCols %>)</span>
                    <input type="number" name="columns" id="columns" class="control-input" value="<%- options.cols %>" min="<%- options.minCols %>" max="<%- options.maxCols %>">
                </label>
                <label for="mines" class="controls-element">
                    <span class="control-name">Mines <span data-range = "mines">(<%- options.minMines %>-<%- options.maxMines %>)</span></span>
                    <input type="number" name="mines" id="mines" class="control-input" value="<%- options.mines %>" min="<%- options.minMines %>" max="<%-options.maxMines %>">
                </label>
            </form>
        </div>
        <div class="controls-col controls-col-right">
            <span class="timer" data-content="timer">00:00</span>
        </div>
        <div class="start-btn" data-action="start">Start</div>
    </script>
    <script type="text/template" id="field-template">
        <table class="field">
            <% for (let i = 0; i < rows; i++) { %>
                <tr>
                    <% for (let j = 0; j < columns; j++) { %>
                        <td class="cell"></td>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </script>
    <script type="text/template" id="results-template">
        <div class="fixed-container">
            <div class="fixed-container-inner">
                <table class="table-fixed">
                    <thead>
                    <tr>
                        <th>
                            <div class="th-fixed-inner">Rank</div>
                        </th>
                        <th>
                            <div class="th-fixed-inner">Result (sec)</div>
                        </th>
                        <th>
                            <div class="th-fixed-inner">Date</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% results.forEach(function(result, i) { %>
                        <tr <% if(result.current) { %>class="current"<% } %>>
                            <td><%= i+1 %></td>
                            <td><%= result.time %></td>
                            <td><%= result.date %></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script type="text/template" id="modal-template">
        <div class="modal modal-overlay js-modal-hidden">
            <div class="modal-inner">
                <h3 class="modal-title"><%- title %></h3>
                <div class="modal-content"><%= content %></div>
                <div class="modal-close" data-action="close"></div>
            </div>
        </div>
    </script>
</body>
</html>