<div class="modal modal-overlay js-modal-hidden">
    <div class="modal-inner">
        <h3 class="modal-title">{{ title }}</h3>
        <div class="modal-content">{{{ content }}}</div>
        <div class="modal-close" data-action="close"></div>
    </div>
</div>